@{
    ViewData["Title"] = "Audiovisuales";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Gestor de Audiovisuales </h1>
    <p>Integrantes: Pedro perez , Yadiel Mendez </p>
</div>
